<div class="" data-controller="world">
  <h1>World List</h1>


  <div class="navigation">
    <div class="button homeButton" data-controller="custom-form" data-action="click->custom-form#submit">
      <div class="icon">
        <%= image_tag "GUI/icon_castle.png" %><br>
        <span>SHOP</span>
      </div>
    </div>

    <div class="button homeButton">
      <div class="icon">
        <%= image_tag "GUI/icon_book.png" %><br>
        <span>CHAT</span>
      </div>
    </div>
  </div>

</div>
