<div class="header">
  <div class="hud">
    <%= image_tag Current.user.avatar_image, class: "avatar" %>
  </div>
  <span>Welcome <%= link_to Current.user.name, "/profile", class: "username" %></span>
  <span style="float: right"><%= link_to "Sign Out", sign_out_url %></span>
</div>
