<div class="header">
  <div class="playerProfile">
    <span class="username"><%= Current.user.name %></span>
  </div>
  <%= link_to image_tag("GUI/icon_setting.png"), sign_out_url, class: "settings" %>
</div>
