<div>
  <%= image_tag "arrow_left.svg", data: { action: "click->race-selector#moveLeft" } %>
  <%= image_tag "giraffe.png", class: "race-selection", data: { "race-selector-target": "raceImage" } %>
  <strong class="hidden" data-race-selector-target="selection"><%= Current.user.race %></strong>
  <%= image_tag "arrow_right.svg", data: { action: "click->race-selector#moveRight" }, class: "arrow" %>
</div>
