<div class="center">
  <div class="borderTest">
    <div class="inside">
    <div class="specHeader">Login</div>
      <%= form_with url: "/users", class: "specForm" do |form| %>
        <div class="specInput" data-controller="text-input">
          <%= image_tag "GUI/user-icon.png", class: "input-prompt" %>
          <%= text_field_tag :name, nil, autocomplete: "off", placeholder: "Username", class: "customField", data: { action: "focus->text-input#active blur->text-input#inactive" } %>
        </div>

        <div class="specButton" data-controller="custom-form" data-action="click->custom-form#submit">
          Login
          <%= form.submit "Submit", hidden: true, data: { "custom-form-target": "submit" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
