/* Application styles */
.hidden {
  display: none;
}

.game {
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.borderTest {
  border: 20px solid white;
  border-image: url("/GUI/frame-border.png") 30% round;
  /*background-image: url("/GUI/center.png");*/
}
.inside {
  padding-top: 1px;
  padding-bottom: 1px;
  background-image: url("/GUI/center.png");
}

