/* Application styles */
.hidden {
  display: none;
}

.game {
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.header {
  margin-top: 10px;
}

.borderTest {
  border: 20px solid white;
  border-image: url("/GUI/frame-border.png") 30% round;
}
.inside {
  padding-top: 1px;
  padding-bottom: 1px;
  background-image: url("/GUI/center.png");
}

.hud {
  background-image: url("GUI/hud.png");
  width: 84px;
  height: 64px;
}
.hud .avatar {
  position: absolute;
  height: 32px;
  margin-left: 15px;
  margin-top: 15px;
}
.hud .avatar:hover {
}
